<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/person-db</property>
    <property name="hibernate.connection.username">person-user</property>
    <property name="hibernate.connection.password">person-password</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="show_sql">true</property>
    <property name="hibernate.id.new_generator_mappings">false</property>

    <mapping class="by.andd3dfx.model.library.Book"/>
    <mapping class="by.andd3dfx.model.library.Author"/>
    <mapping class="by.andd3dfx.model.library.Address"/>
    <mapping class="by.andd3dfx.model.library.Publisher"/>

    <mapping class="by.andd3dfx.model.shop.ZeroSizeItem"/>
    <mapping class="by.andd3dfx.model.shop.OneSizeItem"/>
    <mapping class="by.andd3dfx.model.shop.TwoSizeItem"/>
    <mapping class="by.andd3dfx.model.shop.ThreeSizeItem"/>
  </session-factory>
</hibernate-configuration>
